.circle1
{
	width:20px;
	height:20px;
	background-color:blue;
	border-radius:50%;
	position:absolute;
	top:20px;
	left: 20px;

}

.circle2
{
	width:20px;
	height:20px;
	background-color:green;
	border-radius:50%;
	position:absolute;
	top:20px;
	left: 20px;
}

.circle3
{
	width:20px;
	height:20px;
	background-color:red;
	border-radius:50%;
	position:absolute;
	top:20px;
	left: 20px;
}



.c1 {
	-webkit-animation: move1 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.c2 {
	-webkit-animation: move2 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.c3 {
	-webkit-animation: move3 0.5s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes move1
{
	100% {-webkit-transform: translateX(50px)}
}

@-webkit-keyframes move2
{
	100% {-webkit-transform: translateX(50px) translateY(50px)}
}

@-webkit-keyframes move3
{
	100% {-webkit-transform: translateY(50px)}
}
